img{
  border-radius: 50px;
  border: 5px solid #050505;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: auto;
  height:220px;
  width:150px;
  }

h1 {
  font-family: 'Permanent Marker';
  font-weight: extrabold;
  color: #050505;
  font-size:42px;
  text-align: center;
}

h2,h3,h4 {
  font-style: italic;
  font-family: 'Exo', sans-serif;
  color: #050505;
  font-size:25px;
}
p {
  font-family: 1.2em "Fira Sans", sans-serif;
  text-align: justify;
  font-size: 20px;
  word-wrap: break-word;
  text-align: justify;
  text-justify: inter-word;
}
html {
  background-color: #abeaff;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
}
